@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2f363e;

}
#time {
  display: flex;
  gap: 30px;
}
#time .circle{
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#time .circle svg{
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}
#time .circle svg circle{
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 8;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
#time .circle svg circle:nth-child(2){
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
#time div{
  position: absolute;
  text-align: center;
  font-weight: 500;
  color: #ffffff;
  font-size: 1.5em;
}
#time div span{
  position: absolute;
  transform: translateX(-50%) translateY(-10px);
  font-size: 0.35em;
  font-weight: 300;
  letter-spacing: 0.1em;
}
#time .dots{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#time .dots::before{
  content: '';
  position: absolute;
  top: -3px;
  left: auto;
  width: 15px;
  height: 15px;
  background: var(--clr);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--clr),
  0 0 60px var(--clr);
}
.newYear{  
  color: #fff;
  text-align: center;
  font-size: 60px;
  line-height: 1;
  display: block;
}
.newYear span{
  font-weight: 300;
}
.prost{
  display: none;
  font-size: 60px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  line-height: 1;
}
.on .prost{
  display: block;
}
.on .newYear{
  display: none;
}
.on #first, .on #second{
  opacity: 0;
}
.btns{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 690px;
  margin-top: 30px;
}
.btns button{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 60px;
  cursor: pointer;
}
/* 1 */
.btns button {
  border: none;
  background-color: #8e00ff;
  box-shadow: 0 0 5px #8e00ff;
}
.btns button:hover {
   box-shadow: 0 0 10px #8e00ff, 0 0 20px #8e00ff, 0 0 20px #fff inset;
}
.custom-btn {
  color: #fff;
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border-radius: 10px;
}

/* .keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
} */
@media (max-width: 767px){
  .newYear, .prost{
    font-size: 26px;
  }
  #time{
    display: block;
  }
  .circle{
    margin: 0 auto 10px auto;
  }
  .btns{
    display: block;
  }
  .btns button{
    margin-left: auto;
    margin-right: auto;
  }
  .start{
    margin-bottom: 30px;
  }
  .on #first, .on #second{
    display: none;
  }
  body{
    padding-top: 40px;
    padding-bottom: 40px;
  }
}