/* нормализация ширины футера */
.new-footer{
    max-width: 1415px;
    margin-left: auto;
    margin-right: auto;
}

/* стили для хлебных крошек */
.breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    padding-top: 14px;
    padding-bottom: 14px;
}
.breadcrumbs a, .breadcrumbs span{
    text-decoration: none;
    font-family: "Mulish-Bold", sans-serif;
    font-size: 12px;
    line-height: 1;
    color: #181818;
}
/* Стили для каталога и ПРОГРАММА ЗАБОТЫ ОБ ОБУВИ от 1920 до 1025px */
.content-container{
    width: 100%;
    max-width: 1415px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.panel-promo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 320px;
    background-color: #f3f3f3;
    background-image: url('../images/bg1.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    border-radius: 40px;
    overflow: hidden;
    padding: 40px 60px;
    margin-top: 10px;
}
.panel-promo__title{
    font-size: 64px;
    line-height: 110%;
    max-width: 650px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "Mulish-Bold", sans-serif;
}
.panel-promo__txt{
    font-family: "Mulish-Light", sans-serif;
    font-size: 18px;
    line-height: 120%;
    max-width: 650px;
}
.panel-promo__txt b{
    font-family: "Mulish-SemiBold", sans-serif;
}
.stripe{
    margin-top: 50px;
    width: 100%;
    background-image: url('../images/stripe.png');
    background-repeat: no-repeat;
    background-position: center;    
}
.stripe .content-container{
    display: flex;
    flex-wrap: wrap;
    min-height: 139px;
}
.stripe1, .stripe2, .stripe3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% / 3);
}
.stripe__percent{
    margin-left: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #fff;
    color: #69A8BB;
    font-size: 45px;
    line-height: 1;
    font-family: "Mulish-SemiBold", sans-serif;
}
.stripe1 .stripe__percent{
    margin-left: 0;
}
.stripe3 .stripe__percent{
    margin-left: 20px;
}
.stripe__content{
    margin-left: 30px;
}
.stripe__heading{
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    font-family: "Mulish-Bold", sans-serif;
}
.stripe__txt{
    margin-top: 5px;
    font-family: "Mulish-Bold", sans-serif;
    color: #fff;
    font-size: 18px;
    line-height: 110%;
}
.cat{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 24px;
    margin-top: 60px;
    margin-bottom: 90px;
}
.cat__item{
    border-radius: 20px 20px 40px 40px;
    overflow: hidden;
    border: 1px solid #f3f3f3;
    padding: 10px;    
}
.cat__item:nth-child(1){
    grid-row: span 2;
    position: relative;
}
.cat__item:nth-child(1) img{
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    object-fit: cover;
    border-radius: 20px 20px 40px 40px;
}
.cat__item-link{
    display: block;
    position: relative;
    z-index: 1;
    padding: 20px;
    font-family: "Mulish-Bold", sans-serif;
    font-size: 32px;
    line-height: 1;
    color: #fff !important;
}
.cat__item-link svg{
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 34px;
    height: 33px;
}
.cat__pic{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 195px;
    background-color: #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
}
.cat__pic img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.cat__product{
    display: block;
    text-align:center;
    margin-top: 15px;
    font-size: 18px;
    line-height: 1;
    font-family: "Mulish-Medium", sans-serif;
    color: #181818 !important;
}
@media (max-width: 1439px){
    .content-container{
        padding: 0 20px;
        max-width: none;
    }
    .panel-promo{
        background-position: bottom right -150px;
    }
    .stripe__percent{
        width: 90px;
        height: 90px;
        font-size: 34px;
    }
    .stripe__heading{
        font-size: 18px;
    }
    .stripe__txt{
        font-size: 16px;
    }
    .stripe3 .stripe__percent {
        margin-left: 50px;
    }
    .cat__item-link svg{
        width: 24px;
        height: 23px;
    }
}
@media (max-width: 1300px){
    .content-container{
        padding: 0 30px;
    }
    .panel-promo__title{
        max-width: 500px;
        font-size: 40px;
    }
    .panel-promo__txt{
        max-width: 400px;
        font-size: 16px;
    }
    .stripe{
        background-size: cover;
    }
    .stripe__percent{
        width: 70px;
        height: 70px;
        font-size: 24px;
    }
    .stripe__heading{
        font-size: 14px;
    }
    .stripe__txt{
        font-size: 14px;
    }
    .stripe3 .stripe__percent {
        margin-left: 40px;
    }
    .stripe__content{
        margin-left: 15px;
    }
    .cat{
        gap: 16px;
    }
    .cat__pic{
        min-height: 140px;
    }
    .cat__item-link{
        font-size: 20px;
    }    
}
@media (max-width: 1200px){
    .stripe3 .stripe__percent{
        margin-left: 60px;
    }    
}

/* Стили для детальной страницы ПРОГРАММА ЗАБОТЫ ОБ ОБУВИ от 1920 до 1025px */
.content-nav__info{
    display: none;
}
.button-back{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 200px;
    right: 100px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #181818;
    z-index: 1000;
}
.button-back svg{
    display: block;
    width: 34px;
    height: 34px;
    fill: #fff;
}
.content-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: -10px;
    margin-right: -10px;
    position: relative;
}
.content-items::after{
    position: absolute;
    content: '';
    left: 10px;
    bottom: 0;
    width: calc(100% - 20px);
    height: 1px;
    background: #e0e0e0;
}
.content-item{
    border-right: 1px solid #e0e0e0;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
}
.content-item:nth-child(1), .content-item:nth-child(2), .content-item:nth-child(3){
    padding-top: 43px;
}
.content-item:nth-child(3n){
    border-right: 0;
}
.content-item__picture-wrap{
    position: relative;
    height: 457px;
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
    border: 1px solid #8F8F8F80;
}
.content-item__time{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 35px;
    margin-left: 15px;
    position: relative;
    z-index: 1;
}
.content-item__time svg{
    display: block;
    margin-right: 15px;
}
.content-item__heading{
    font-family: "Mulish-Bold", sans-serif;
    font-size: 32px;
    line-height: 110%;
}
.content-item__txt{
    font-family: "Mulish-Regular", sans-serif;
    margin-top: 15px;
    margin-left: 15px;
    max-width: 161px;
    font-size: 14px;
    line-height: 110%;
    position: relative;
    z-index: 1;
}
.content-item__picture{
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background: #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
}
.content-item__percent{
    position: absolute;
    bottom: 94px;
    left: 42%;
    transform: translateX(-50%);
    z-index: 0;
    font-family: "Mulish-Bold", sans-serif;
    font-size: 250px;
    line-height: 76%;
    letter-spacing: -17px;
    color: #e0e0e0;
    display: flex;
    align-items: flex-start;
    z-index: 0;
}
.content-item__percent span{
    font-size: 150px;
    line-height: 100px;
    letter-spacing: -17px;
}
.content-item__picture img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: relative;
    z-index: 1;
}
.content-item__info-wrap{
    margin-top: 18px;
    padding-left: 10px;
    padding-right: 10px;
}
.content-item__price-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.content-item__product-name{
    font-family: "Mulish-SemiBold", sans-serif;
    font-size: 22px;
    line-height: 28px;
}
.content-item__old-price{
    font-family: "Mulish-Bold", sans-serif;
    font-size: 24px;
    line-height: 28px;
    margin-left: auto;
    margin-right: 5px;
    color: #8f8f8f;
    text-decoration: line-through;
}
.content-item__new-price{
    font-family: "Mulish-Bold", sans-serif;
    font-size: 24px;
    line-height: 28px;
}
.content-item__info{
    margin-top: 24px;
    font-family: "Mulish-Light", sans-serif;
    font-size: 15px;
    line-height: 1.3;
}
.content-item__info p{
    margin-top: 25px;
}
.content-item__info p:first-child{
    margin-top: 0;
}
.content-item__info b{
    font-family: "Mulish-Bold", sans-serif;
}
@media (max-width: 1700px){
    .button-back{
        right: 46px;
    }
}
@media (max-width: 1300px){
    .button-back{
        right: 30px;
    }
    .content-item__picture-wrap{
        height: 400px;
    }
    .content-item__heading{
        font-size: 24px;
    }
    .content-item__picture img{
        max-width: 70%;
        max-height: 70%;
    }
    .content-item__percent{
        font-size: 150px;
        letter-spacing: -10px;
    } 
    .content-item__percent span{
        font-size: 100px;
        line-height: 50px;
        letter-spacing: -10px;
    }
    .content-item__product-name{
        font-size: 16px;
        line-height: 24px;
    }
    .content-item__old-price{
        font-size: 18px;
        line-height: 24px;
    }
    .content-item__new-price{
        font-size: 18px;
        line-height: 24px;
    }
    .content-item__info{
        font-size: 14px;
    }     
}
