/* Стили для каталога и ПРОГРАММА ЗАБОТЫ ОБ ОБУВИ от 375 и до 1025px */
.content-container{
    padding-left: 10px;
    padding-right: 10px;
}
.panel-promo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: 160px;
    background-color: #f3f3f3;
    background-image: url('../images/bg1-375.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
    padding: 16px 10px;
    margin-top: 10px;
    text-align: left;
    color: #181818;
}
.panel-promo__title{
    font-size: 24px;
    line-height: 110%;  
    font-family: "Mulish-Bold", sans-serif;
    color: #181818;
    max-width: 305px;
}
.panel-promo__txt{
    margin-top: 5px;
    font-family: "Mulish-Light", sans-serif;
    max-width: 223px;
    font-size: 12px;
    line-height: 120%;
    
}
.panel-promo__txt b{
    font-family: "Mulish-Bold", sans-serif;
}
.stripe{
    margin-top: 20px;
    width: 100%;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;   
}
.stripe .content-container{
    padding-left: 0;
    padding-right: 0;
}
.stripe1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 105px;
    position: relative;
    z-index: 5;
}
.stripe1::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    max-width: 375px;
    height: 149px;
    background-image: url('../images/str1.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}  
.stripe2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 105px;
    position: relative;
    z-index: 4;
}
.stripe2::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    max-width: 375px;
    height: 149px;
    background-image: url('../images/str2.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
} 
.stripe3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    height: 105px;
    position: relative;
    z-index: 3;
}
.stripe3::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    max-width: 375px;
    height: 125px;
    background-image: url('../images/str3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.stripe__percent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background: #fff;
    font-family: "Mulish-SemiBold", sans-serif;
    font-size: 32px;
    line-height: 1;
    color: #69A8BB;
    border-radius: 50%;
    position: relative;
    z-index: 4;
    margin-top: 7px;
    margin-left: 10px;
}
.stripe__content{
    margin-left: 22px;
}
.stripe__heading{
    font-family: "Mulish-Bold", sans-serif;
    font-size: 18px;
    line-height: 110%;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    z-index: 4;
}
.stripe__txt{
    font-family: "Mulish-Bold", sans-serif;
    font-size: 14px;
    line-height: 110%;
    margin-top: 3px;
    position: relative;
    z-index: 4;
    color: #fff;
}
.cat{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9px 10px;
    margin-top: 35px;
    margin-bottom: 35px;
}
.cat__item{
    border-radius: 10px 10px 20px 20px;
    overflow: hidden;
    border: 1px solid #f3f3f3;
    padding: 5px 6px;
    text-decoration: none;    
}
.cat__item:nth-child(1){
    grid-row: span 2;
    position: relative;
}
.cat__item:nth-child(1) img{
    position: absolute;
    top: 5px;
    left: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 10px);
    object-fit: cover;
    border-radius: 10px 10px 20px 20px;
}
.cat__item-link{
    display: block;
    position: relative;
    z-index: 1;
    padding: 10px;
    font-family: "Mulish-Bold", sans-serif;
    font-size: 18px;
    line-height: 1;
    color: #fff !important;
    text-decoration: none;
    text-align: left;
}
.cat__item-link svg{
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
}
.cat__pic{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    background-color: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
}
.cat__pic img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.cat__product{
    display: block;
    text-align:center;
    margin-top: 4px;
    font-size: 14px;
    line-height: 1;
    font-family: "Mulish-SemiBold", sans-serif;
    color: #181818 !important;    
}
@media (max-width: 370px){
    .stripe__percent{
        width: 80px;
        height: 80px;
        font-size: 26px;
    }
    .stripe__heading{
        font-size: 16px;
    }
    .cat__product{
        font-size: 12px;
    }
    .panel-promo__txt{
        max-width: 175px;
        font-size: 10px;
    }
}

/* стили для хлебных крошек */
.breadcrumbs{
    display: none;
}

/* Стили для детальной страницы ПРОГРАММА ЗАБОТЫ ОБ ОБУВИ от 375 до 1025px */

.content-items{
    display: grid;
    grid-template-columns: 1fr ;
    position: relative;
    gap: 30px;
    padding-bottom: 30px;
    margin-top: 45px;
}
.content-item__picture-wrap{
    position: relative;
    height: 356px;
    border-radius: 16px;
    overflow: hidden;
    padding: 8px;
    border: 1px solid #8F8F8F80;
}
.content-item__time{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 28px;
    margin-left: 12px;
    position: relative;
    z-index: 1;
}
.content-item__time svg{
    display: block;
    margin-right: 10px;
}
.content-item__heading{
    font-family: "Mulish-Bold", sans-serif;
    font-size: 24px;
    line-height: 110%;
    color: #181818;
    text-align: left;
}
.content-item__txt{
    font-family: "Mulish-Regular", sans-serif;
    margin-top: 12px;
    margin-left: 12px;
    max-width: 161px;
    font-size: 14px;
    line-height: 110%;
    position: relative;
    z-index: 1;
    text-align: left;
    color: #181818;
}
.content-item__picture{
    position: absolute;
    top: 8px;
    left: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    background: #f3f3f3;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
}
.content-item__percent{
    position: absolute;
    bottom: 73px;
    left: 42%;
    transform: translateX(-50%);
    z-index: 0;
    font-family: "Mulish-Bold", sans-serif;
    font-size: 195px;
    line-height: 76%;
    letter-spacing: -10px;
    color: #e0e0e0;
    display: flex;
    align-items: flex-start;
    z-index: 0;
}
.content-item__percent span{
    font-size: 100px;
    line-height: 50px;
    letter-spacing: -10px;
}
.content-item__picture img{
    display: block;
    max-width: 60%;
    max-height: 100%;
    object-fit: contain;
    position: relative;
    z-index: 1;
}
.content-item__info-wrap{
    margin-top: 12px;
    padding-left: 8px;
    padding-right: 8px;
}
.content-item__price-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.content-item__product-name{
    font-family: "Mulish-SemiBold", sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #181818;
}
.content-item__old-price{
    font-family: "Mulish-Bold", sans-serif;
    font-size: 20px;
    line-height: 22px;
    margin-left: auto;
    margin-right: 4px;
    color: #8f8f8f;
    text-decoration: line-through;
}
.content-item__new-price{
    font-family: "Mulish-Bold", sans-serif;
    font-size: 20px;
    line-height: 22px;
    color: #181818;
}
.content-item__info{
    margin-top: 20px;
    font-family: "Mulish-Light", sans-serif;
    font-size: 14px;
    line-height: 1.3;
    text-align: left;
    color: #181818;
}
.content-item__info p{
    margin-top: 19px;
    margin-bottom: 0;
}
.content-item__info p:first-child{
    margin-top: 0;
}
.content-item__info b{
    font-family: "Mulish-Bold", sans-serif;
}
.content-nav{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 11px;
}
.content-nav__info{
    display: block;
    text-align: left;
}
.content-nav__txt{
    font-family: "Mulish-Bold", sans-serif;
    font-size: 12px;
    line-height: 1;
    color: #181818;
}
.content-nav__count{
    font-family: "Mulish-Regular", sans-serif;
    font-size: 10px;
    line-height: 1;
    margin-top: 3px;
    color: #181818;
}
.button-back{
    display: block;
    margin-right: 19px;
}
.button-back svg{
    display: block;
    width: 17px;
    height: 17px;
    fill: #181818;
}